/* Complications.css */
.complications_complicationsCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fbfbfb;
  padding: 20px;
  margin: 20px auto;
  border-radius: 20px;
  max-width: 800px;
  width: 80%;
}

.complications_imageContainer {
  flex-shrink: 0;
  margin-right: 5vw;
  margin-left: 3vw;
  width: 35%;
}

.complications_image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.complications_textContainer {
  flex: 1;
}

.complications_title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #131313;
  font-family: var(--font-sf-pro-bold);
}

@media (max-width: 768px) {
  .complications_complicationsCard {
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    text-align: center;
    width: 90%;
  }

  .complications_imageContainer {
    margin-right: 0;
    margin-bottom: 20px;
    width: 80%;
    display: flex;
    justify-content: center;
  }

  .complications_textContainer {
    width: 100%;
    text-align: center;
  }

  .complications_image {
    width: 100%;
  }

  .complications_title {
    font-size: 1.5rem;
    text-align: center;
  }
}