/* Feat1.css */
.feat1 {
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 70vw;
}

.feat1_featureCard {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fbfbfb;
  padding: 20px;
  margin: 20px 10vw;
  border-radius: 20px;
}

.feat1_textContainer {
  flex: 1;
  margin-right: 20px;
}

.feat1_highlight {
  background: linear-gradient(90deg, #44b8ee, #091ad0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--font-sf-pro-semibold);
}

.feat1_title {
  font-size: 2rem;
  font-weight: bold;
  color: #131313;
  margin-bottom: 10px;
  font-family: var(--font-sf-pro-bold);
}

.feat1_description {
  font-size: 1.2rem;
  color: #666;
  font-family: var(--font-sf-pro-regular);
}

.feat1_imageContainer {
  width: 36%;
  margin: 0 auto;
  overflow: hidden;
  flex-shrink: 0;
}

.feat1_image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .feat1 {
    max-width: 86vw;
  }
  .feat1_featureCard {
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
  }

  .feat1_textContainer {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .feat1_title {
    font-size: 1.5rem;
  }

  .feat1_description {
    font-size: 1.1rem;
  }

  .feat1_imageContainer {
    width: 60%;
  }

  .feat1_image {
    width: 100%;
  }
}